<h1>Welcome to the Recipe App</h1>
<h3>Please select a catagory, Search for a recipe or sign up and contribute a recipe of your own.</h3>

<div class="catagory_left">
  <ul>
    
    <div class="index_catagory" id="starter">
      <li><%= link_to "#{@catagories_names_array.first}", catagory_path(@catagory_id_array.first) %>
      </li>
    </div>

    <div class="index_catagory" id="mains">
      <li><%= link_to "#{@catagories_names_array.second}", catagory_path(@catagory_id_array.second) %></li>
    </div>

  </ul>
</div>

<div class="catagory_right">
  <ul>

    <div class="index_catagory" id="pudding">
      <li><%= link_to "#{@catagories_names_array.third}", catagory_path(@catagory_id_array.third) %></li>
    </div>

    <div class="index_catagory" id="snacks_and_drinks">
      <li><%= link_to "#{@catagories_names_array[3]}", catagory_path(@catagory_id_array[3]) %></li>
    </div>

  </ul>
</div>