
<div class="scrollable">
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <h3><%= link_to "#{recipe.recipe_name}", recipe_path(recipe) %></h3>
    <% end %>
  <% else %>
    <h3>There are no recipes containing: <%= params[:search] %></h3>
  <% end %>
</div>