
<div class="scrollable">
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <%= link_to "#{recipe.recipe_name}", recipe_path(recipe) %>
    <% end %>
  <% else %>
    <h3>There are no recipes containing: <%= params[:search] %></h3>
  <% end %>
</div>
