<h1><%= @catagory.catagory_name %></h1>

<% @recipes.each do %>
  <% |recipes| %>
  <img src="<%= recipes.picture %>">
  <%= link_to("#{recipes.recipe_name}", recipe_path("#{recipes.id}")) %>
<% end %>