
<h1 class = "recipe_headder" > <%= "#{@catagories_names_array.first}" %> </h1>

<div class="recipe_list">
    <% @recipes.each do |recipe| %>
      <img src="<%= recipe.picture %>">
      <br>
      <div class="recipe_name_link">
        <%= link_to "#{recipe.recipe_name}", recipes_path(recipe) %>
      </div>
      <br>
      <br>
    <% end %>
</div>