<div class="catagory_left">
  <h1> <%= "#{}" %> </h1>
  <ul>
    <li><%= link_to "#{@catagories_names_array.first}", recipes_path %></li>
    <li><%= @catagories_names_array.second %></li>
  </ul>
</div>