/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.

 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "normalize.css";
 /*@import "reactive.css"*/

  /*########## GENERAL ##########*/

 h1 {
   font-family: Helvetica, Arial;
   font-weight: bold;
   font-size: 4em;
   color: #fff;
   text-align: center;
 }

 h2 {
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  text-align: center; 
 }

 h3 {
   font-family: Helvetica, Arial;
   font-weight: bold;
   font-size: 2em;
   color: #fff;
   text-align: center;  
 }

 h4 {
   font-family: Helvetica, Arial;
   font-weight: bold;
   font-size: 1.5em;
   color: #fff;
   text-align: center;
 }

 h5 {
   font-family: Helvetica, Arial;
   font-weight: bold;
   font-size: 1em;
   color: #fff;
   text-align: center;
 }

 p {
   font-family: Helvetica, Arial;
   font-weight: bold;
   font-size: 1em;
   color: #fff;
   text-align: center;
 }

 a {
   text-decoration: none;
   color: #fff;
   font-family: Helvetica, Arial;
 }

 a:hover {
  color: teal;
 }

 li a:hover {
  color: teal;
 }

 ul {
   list-style-type: none;
 }

 /*########## NAV BAR ##########*/

nav {
  position: fixed;
  top: 0;
  display: inline-block;
  margin-bottom: 20px;
  background-color: #777f40;
  width: 100%;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 17px;
  color: #fff;
  line-height: inherit;
 }

nav .left {
  float: left;
 }

 nav .left li {
  display: inline-block;
  padding-right: 10px;
 }

nav .right {
  float: right;
 }

nav .right li {
  display: inline-block;
  padding-left: 10px;
}

nav form input:nth-child(3) {
  color: #fff;
  background-color: #474c26;
}

 /*########## BACKGROUND IMAGE ##########*/

body {
  padding-top: 50px;
  background-color: #EFFE81;
  background: linear-gradient(to bottom right,#002f4b,#dc4225);
  background-image: url("KitchenBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  /*background: linear-gradient(to bottom right, gray, white);*/
} 

/*########## INDEX PAGE ##########*/

#index_h1 {
  padding:0 60px;
}

#index_h3 {
  padding:0 200px;
}

.catagory_left {
  width: 49.5%;
  display: inline-block;
  margin: 0;
}

.catagory_left ul {
  margin: 10px 10px 10px 20px;
  padding: 10px 10px 10px 20px;
}

.catagory_right {
  width: 49.5%;
  display: inline-block;
  margin: 0;
}

.catagory_right ul {
  margin: 10px 20px 10px 10px;
  padding: 10px 20px 10px 10px;
}

.index_catagory {
  border: solid 1px #000;
  height: 300px;
  max-width: 480px;
  margin:50px auto;
  width: 100%;
}

#starter {
  background-image: url("Starter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#mains {
  background-image: url("MainCourse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#pudding {
  background-image: url("Pudding.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#snacks_and_drinks {
  background-image: url("SnacksAndDrinks.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index_catagory li {
  list-style-type: none;
  text-align: center;
  line-height: 300px;
}

.index_catagory a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 3.5em;
  font-weight: bold;
  color: #fff;
}

.index_catagory a:hover {
  color: teal;
}

/*########## RECIPE & CATAGORIES ##########*/


.recipe_list {
  margin: auto;
  width: 60%;
  height: 100%;
  overflow: auto;
}

.recipe_name_link a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 40px;
  display: inline-block;
  color: #fff;
  line-height: 100px;
}

.recipe_image {
  max-height: 100px;
  max-width: 100px;
  display: inline-block;
}

/*########## CATAGORIES SHOW PAGE ##########*/

.scrollable {
  overflow: auto;
  max-height: 500px;
  width: 55%;
  margin: auto;
  padding: 0;
  border: 0;
}

.scrollable li {
  display: inline-block;
  margin:auto;
}

.scrollable img {
  display: inline-block;
}

/*########## RECIPES SHOW PAGE ##########*/

.individual_recipe_image {
  height: 200px;
  width: 200px;
  margin: auto;
}

.individual_recipe_image img {
  max-height: 200px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.logged_in_options {
      margin: auto;
      text-align: center;
}

/*########## NEW AND EDIT RECIPE FORM ##########*/

.edit_and_new_recipe_form {
  width: 200px;
  height: 100%;
  margin: auto;
}

.edit_and_new_recipe_form label {
  text-align: center;
  color: #fff;
  font-family: Helvetica, Arial;
}

/*########## USERS SHOW PAGE ##########*/

.user_options {
  text-align: center;
  padding: 10px 10px 30px 10px;
}

.user_options a {
  font-size: 22px;
  margin:20px;
  display:inline-block;
}

/*########## USERS NEW PAGE ##########*/

.sign_up_form {
  width: 200px;
  height: 100%;
  margin: auto;
}

.sign_up_form label {
  text-align: center;
  color: #fff;
  font-family: Helvetica, Arial;
}


/*######## SESSIONS NEW (LOG IN) PAGE ########*/

.log_in {
  width: 200px;
  height: 100%;
  margin: auto;
}

.log_in label {
  text-align: center;
  color: #fff;
  font-family: Helvetica, Arial;
}


/*######## CATAGORIES INDEX (SEARCH REULTS) ########*/

/*######## USERS INDEX (ADMIN PANEL) ########*/

.admin_scroll {
  text-align: center;
}

.admin_scroll a {
  padding: 0 20px;
}










