/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*########## NAV BAR ##########*/

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 15px;
 }

nav .left {
  float: left;
 }

nav .right {
  float: right;
  display: inline-block;
 }

/*########## RECIPE INDEX PAGE ##########*/

.recipe_headder {
  text-align: center;
  font-size: 50px;
  font-family: Helvetica, Arial;

}

.recipe_list {
  margin: auto;
  width: 60%;
  height: 100%;
  overflow: auto;
}

.recipe_name_link a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 30px;
  display: inline-block;
  color: black;
}

.recipe_image {
  max-height: 125px;
  max-width: 125px;
  display: inline-block;
}

