/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.

 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "normalize.css";

 /*########## NAV BAR ##########*/

nav {
  display: inline-block;
  margin-bottom: 20px;
  background-color: gray;
  width: 100%;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 5px;
}

nav a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 17px;
  color: #000;
 }

nav .left {
  float: left;
 }

 nav .left li {
  display: inline-block;
  padding-right: 10px;
 }

nav .right {
  float: right;
 }

 nav .right li {
  display: inline-block;
  padding-left: 10px;
 }

 /*########## INDEX PAGE ##########*/

.catagory_left {
  width: 49.5%;
  display: inline-block;
  margin: 0;
}

.catagory_left ul {
  margin: 10px 10px 10px 20px;
  padding: 10px 10px 10px 20px;
}

.catagory_right {
  width: 49.5%;
  display: inline-block;
  margin: 0;
}

.catagory_right ul {
  margin: 10px 20px 10px 10px;
  padding: 10px 20px 10px 10px;
}

.index_catagory {
  border: solid 1px #000;
  height: 300px;
  margin:50px 0;
  width: 100%;
}

.index_catagory li {
  list-style-type: none;
  text-align: center;
  line-height: 300px;
}

.index_catagory a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 3.5em;
  font-weight: bold;
  color: #000;
}

/*########## RECIPE INDEX PAGE ##########*/

.recipe_headder {
  text-align: center;
  font-size: 50px;
  font-family: Helvetica, Arial;
}

.recipe_list {
  margin: auto;
  width: 60%;
  height: 100%;
  overflow: auto;
}

.recipe_name_link a {
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-size: 30px;
  display: inline-block;
  color: #000;
}

.recipe_image {
  max-height: 125px;
  max-width: 125px;
  display: inline-block;
}

